@{
    ViewBag.Title = "About Us";
}
<header class="intro-header" style="background-image: url('../img/about-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>@ViewBag.Title</h1>
                    <hr class="small">
                    <span class="subheading">This is what we do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Beaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaans!</p>
            <p>Coffeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee!</p>
            <p>Ratiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiing!!</p>
        </div>
    </div>
</div>
<hr>
